# En este archivo configuramos todas las variables de usuario

# Token del bot de Telegram
# https://core.telegram.org/bots#how-do-i-create-a-bot
telegram_token="XXXX"
# Los IDs de telegram de los usuarios que responderá el bot
# Talk to @userinfobot bot on telegram to get yours
telegram_users=[XXXX]

# Modo de conectarnos a openai, mediante la web con usuario y contraseña (web)
# o mediante la API con una clave (api) que tiene un coste asociado
# el modo web ya no funciona
openai_mode = "api"

# API de OpenAI (si el modo de openai es 'api')
# https://platform.openai.com/account/api-keys
openai_api_key = "XXXX"

# Activar o no la opción de envío de notas de voz
voice_enabled = True

# Claves y servidor de AWS para Amazon polly
# https://us-east-1.console.aws.amazon.com/iam/home?region=us-east-1#/security_credentials
aws_access_key_id="XXXX"
aws_secret_access_key="XXXX"
region_name="eu-west-3"

# Configuración y API de Stability.ia
# https://beta.dreamstudio.ai/membership?tab=apiKeys
sd_engine_id = "stable-diffusion-512-v2-0"
sd_api_host = "https://api.stability.ai"
sd_api_key = "XXXX"

# Usuario y contraseña de OpenIA (no funciona ya, usar API)
openai_email = "user@email.com"
openai_password = "XXXX"
# Cookie y token de sesión
openai_session = "XXXX"
openai_clearance = "XXXX"
openai_useragent = "XXXX"
